<html>
    <head>
       <title>Dojo Survey</title>
    </head>
    <body>
      <h1>Dojo Survey</h1>

      <!-- read on to learn about form actions, we'll talk about the method in a later section -->

          <form action="/process" method="post">
              <label for="email">Email:</label><input type='email' name='Email' value='' />
              <label for="first_name">First Name:</label><input type='text' name='first_name' value='' />
              <label for="last_name">Last Name:</label><input type='text' name='last_name' value=''/>
              <label for="password">Password</label><input type='text' name='password' value=''/>
              <label for="confirm_password">Confirm Password</label><input type='password' name='confirm_password' value=""/>
            <input class= "button" type='submit' value='Submit'/>

          </form>
    </body>
</html>
